<h2 class="hero-heading">My Heros</h2>
<div class="hero-names-container">
  <div class="hero-name-btn">
    <p class="hero-no">12</p>
    <p class="hero-name">Dr. Nice</p>
  </div>
  <div class="hero-name-btn">
    <p class="hero-no">13</p>
    <p class="hero-name">Narco</p>
  </div>
  <div class="hero-name-btn">
    <p class="hero-no">14</p>
    <p class="hero-name">Bombasto</p>
  </div>
  <div class="hero-name-btn">
    <p class="hero-no">15</p>
    <p class="hero-name">Celeritas</p>
  </div>
  <div class="hero-name-btn">
    <p class="hero-no">16</p>
    <p class="hero-name">Magneta</p>
  </div>
  <div class="hero-name-btn">
    <p class="hero-no">17</p>
    <p class="hero-name">RubberMan</p>
  </div>
</div>
